// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {
font-size: 2em;
}
tr td a {
font-size: 1em;
}
a {
font-size: 1.3em;
}
